include _mixins.jade
doctype html strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='text/html; charset=utf-8')
    link(rel='stylesheet', href="../bower_components/ink/css/ink.css")
  body
    table.body
      tr
        td.center(align='center', valign='top')
          include email.jade
